venv/
__pycache__/
*.pyc
phishing_history.db
.env
PhiUSIIL_Phishing_URL_Dataset.csv
*_backup.pkl
phishing_model_no_digits.pkl
phishing_model_tld.pkl
phishing_model_unique.pkl
compare_urls.py
dataset_analysis.py
evaluate_model.py
external_test.py
feature_extractor_no_digits.py
feature_extractor_tld.py
inspect_features.py
inspect_model.py
test_models.py
test_tld_model.py
test_unique_model.py
train_model.py
train_no_digits.py
train_tld.py
train_unique.py