<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phishing URL Detection System</title>
    <link rel="stylesheet"href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>
    <div class="container">
    <h1>Phishing URL Detection System</h1>

    <p class="description">Enter a website URL below to check whether it is safe or suspicious.</p>
    <div class="input-group">
    <input
        type="text"
        id="urlInput"
        placeholder="Enter URL, e.g. https://example.com">

    <button id="checkButton">Check URL</button>
    <a href="/history-page" class="history-button"> 📋View Scan History</a>
    </div>
    <div id="result"></div>
    </div>

    <script src="{{ url_for('static', filename='js/script.js')}}"></script>
</body>
</html>